extends layout

block content
  h1= title
  p Bienvenido a #{title}
  h1 Lista de Elementos
  ul
    each item in items
      li= item
  div
    img(src='/images/sample.jpg', alt='Sample Image', width='600', height='400')
  div(style='margin-top: 20px;')
    a(href='/login') Login

